<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <h1>PRODUCTS</h1>
</head>
<body>
  

<!-- Simple form which will send a POST request -->
<form action="/products" method="post">
  <label for="POST-name">Name:</label>
  <input id="POST-name" type="text" name="name">

  <label for="POST-price">Price:</label>
  <input id="POST-price" type="text" name="price">

  <label for="POST-inventory">Inventory:</label>
  <input id="POST-inventory" type="text" name="inventory">

  <input type="submit" value="Submit">
</form>
</form>
</body>
</html>